@import '../../config';

.landing {
    @include flex(center, space-between, column);
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    padding: 5vh 3vw;
    background: $white; 


    .background {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 100%;
        left: 0;
        background: $black;
        z-index: 1;
    }
}

// Phone portrait
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 812px) 
and(orientation: portrait) {
    .landing {
        padding: 4vh 6vw;
    }
}