@import "../../../config";

.project-list {
    @include flex(flex-start, flex-start, column);
    width: 45%;
    height: 100%;

    .hider {
        overflow-y: hidden;
        .links {
            @include flex(flex-end, center, row);
            .project-item {
                @include flex(flex-end, center, row);
                padding: 1rem 0;
                cursor: pointer;
                text-decoration: none;
                color: $white;

                h3 {
                    @include secondary-font(0.7rem, 400);
                    letter-spacing: 2px;
                }

                h1 {
                    @include primary-font(2.5rem, 500);
                    letter-spacing: 2px;
                    margin: 0 10px 0 20px;
                    transform: translateY(5px);
                }
            }

            .type-and-code {
                @include flex(flex-end, center, row);
                padding: 1rem 0rem;

                h3 {
                    @include secondary-font(0.7rem, 400);
                    letter-spacing: 2px;
                    color: $white;
                    cursor: pointer;
                }
                .view-code {
                    margin-left: 10px;
                    @include primary-font(0.9rem, 500);
                    letter-spacing: 2px;
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }
}

@media only screen and (min-width: 813px) and (max-width: 1290px) {
    .project-list {
        width: 45%;
        .hider {
            .links {
                @include flex(flex-start, center, column);
                padding: 0.5rem 0;
                .project-item {
                    padding: 0 0 0.2rem 0;

                    h3 {
                        font-size: 0.6rem;
                    }
                    h1 {
                        font-size: 2.1rem;
                    }
                }

                .type-and-code {
                    padding: 0;
                    margin-left: 30px;
                    h3 {
                        transform: translateY(2px);
                        font-size: 0.6rem;
                    }
                    .view-code {
                        font-size: 0.5rem;
                    }
                }
            }
        }
    }
}

// Phone portrait
@media only screen and (min-width: 320px) and (max-width: 812px) and(orientation: portrait) {
    .project-list {
        width: 100%;
        .hider {
            .links {
                @include flex(flex-start, center, column);
                padding: 0.5rem 0;
                .project-item {
                    padding: 0 0 0.2rem 0;

                    h3 {
                        font-size: 0.6rem;
                    }
                    h1 {
                        font-size: 2.1rem;
                    }
                }

                .type-and-code {
                    padding: 0;
                    margin-left: 30px;
                    h3 {
                        transform: translateY(2px);
                        font-size: 0.6rem;
                    }
                    .view-code {
                        font-size: 0.5rem;
                    }
                }
            }
        }
    }
}
