@import "../../config";

.navbar {
    width: 100%;
    @include flex(center, space-between, row);
    overflow-y: hidden;
    z-index: 2;
    .left {
        width: 50%;
        @include flex(center, space-between, row);
        .nav-animate-1 {
            @include primary-font($fsLogo-desktop, 700);
        }
        .location {
            @include primary-font($fsLocation-desktop, 500);
            letter-spacing: 1px;
        }
        .line {
            height: 1px;
            background: $black;
            width: 6%;
            transform-origin: 0% 50%;
        }
    }
    .right {
        width: 18%;
        min-width: 250px;
        overflow-y: hidden;
        @include flex(center, space-between, row);

        .link-container {
            position: relative;
            .link {
                @include secondary-font($fsLinks-desktop, 400);
                &:after {
                    display: block;
                    content: '';
                    border-bottom: 1px solid $black;
                    transform: scaleX(0);
                    transition: 0.5s all ease-in-out;
                    transform-origin: 0% 50%;
                }
                &:hover:after {
                    transform: scaleX(1)
                }
            }

            .bio-underline {
                border-bottom: 1px solid $black;
            }

            .projects-underline {
                border-bottom: 1px solid $white;
            }

            .white-link {
                &:after {
                    display: block;
                    content: '';
                    border-bottom: 1px solid $white;
                    transform: scaleX(0);
                    transition: 0.5s all ease-in-out;
                    transform-origin: 0% 50%;
                }
                &:hover:after {
                    transform: scaleX(1)
                }
            }


        }
    }
}

.white {
    color: $white;
    .left .line {
        background: $white;
    }

    .right .link {
        color: $white;
    }
}



// 
@media only screen
and (min-device-width: 813px)
and (max-device-width: 1080px) {
        .navbar {
            .left {
                .nav-animate-1 {
                    font-size: $fsLogo-phone;
                }
                .location {
                    font-size: 0.9rem;
                }
            }
            .right {
                .link-container .link {
                    font-size: $fsLinks-phone;
                    font-weight: 500;
                }
            }
        }
    }


// Phone portrait
@media only screen 
and (min-width: 320px) 
and (max-width: 812px) 
and(orientation: portrait) {
    .navbar {
        .left {
            width: auto;
        .nav-animate-1 {
            font-size: $fsLogo-phone;
        }

        .location,
        .line {
            display: none;
        }
    }
        .right {
            width: 210px;
            min-width: 210px;
            .link-container .link {
                font-size: $fsLinks-phone;
                font-weight: 500;
            }
        }
    }
}


// 4k
@media screen 
and (min-width: 2400px) 
and (max-width: 3200px) {

}