@import '../../config';

.projects {
    @include flex(center, space-between, column);
    position: relative;
    height: 100vh;
    width: 100vw;
    padding: 4vh 3vw;


    .background {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: $black;
        z-index: -1;
    }
}


// Phone portrait
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 812px) 
and(orientation: portrait) {
    .projects {
        padding: 4vh 6vw;
    }
}