@import '../../config';

.projects {
    @include flex(center, space-between, column);
    position: relative;
    height: 100vh;
    width: 100vw;
    padding: 4vh 3vw;
    overflow: hidden;
    background: $black;



}


// Phone portrait
@media only screen 
and (min-width: 320px) 
and (max-width: 812px) 
and(orientation: portrait) {
    .projects {
        padding: 4vh 6vw;
    }
}