@import "../../config";

.content-landing {
    @include flex(center, center, column);
    position: relative;
    width: 100%;
    .hider {
        overflow-y: hidden;
        padding: 2px;
        h2 {
            @include primary-font($fsLandingText-desktop, 500);
            .link {
                @include primary-font($fsLandingText-desktop, 500);
                position: relative;
            }

            a {
                @include primary-font($fsLandingText-desktop, 500);
                position: relative;
                border: none;
                cursor: pointer;
                color: $black;
                text-decoration: none;
            }

            // Underline below the link
            span {
                position: absolute;
                height: 2px;
                width: 100%;
                background: $black;
                bottom: 0;
                left: 0;
                transform-origin: 0% 50%;
            }
        }
    }
    .line {
        position: absolute;
        left: 0;
        height: 1px;
        background: $black;
        width: 4%;
        transform-origin: 0% 50%;
    }
}

//
@media only screen 
and (min-device-width: 813px) 
and (max-device-width: 1080px) {
    .content-landing {
        .hider {
            h2 {
                font-size: $fsLandingText-tablet;

                .link,
                a {
                    font-size: $fsLandingText-tablet;
                }
            }
        }
    }
}

// Phone portrait
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 812px) 
and(orientation: portrait) {
    .content-landing {
        .hider {
            h2 {
                font-size: $fsLandingText-phone;
                .link,
                a {
                    font-size: $fsLandingText-phone;
                }
            }
        }

        .line {
            display: none;
        }
    }
}
