@import '../../config';

.footer {
    @include flex(center, space-between, row);
    overflow-y: hidden;
    width: 100%;
    .left {
        @include flex(center, space-between, row);
        width: 50%;
        .title {
            @include primary-font($fsLocation-desktop, 500);
            letter-spacing: 1px;
        }
        .line {
            height: 1px;
            background: $black;
            width: 3%;
            transform-origin: 0% 50%;
        }
    }
    .right {
        @include flex(center, space-between, row);
        width: 18%;
        min-width: 250px;
        a {
            @include secondary-font($fsLinks-desktop, 400);
            text-decoration: none;
            color: $black;
            &:after {
                display: block;
                content: '';
                border-bottom: 1px solid $black;
                transform: scaleX(1);
                transition: 0.5s all ease-in-out;
                transform-origin: 0% 50%;
            }
            &:hover:after {
                transform: scaleX(0)
            }
        }
        .white-a {
            &:after {
                display: block;
                content: '';
                border-bottom: 1px solid $white;
                transform: scaleX(1);
                transition: 0.5s all ease-in-out;
                transform-origin: 0% 50%;
            }
            &:hover:after {
                transform: scaleX(0)
            }
        }
        span {
            width: 33%;
        }
    }
}

.white {
    color: $white;
    .left .line {
        background: $white;
    }

    .right a {
        color: $white;
    }
}


//
@media only screen 
and (min-width: 813px) 
and (max-width: 1080px) {
    .footer {
        .left {
            .title {
                font-size: $fsLocation-tablet;
            }
        }
        .right {
            a {
                font-size: $fsLinks-phone;
                font-weight: 500;
            }
        }
    }
}

// Phone portrait
@media only screen 
and (min-width: 320px) 
and (max-width: 812px) 
and(orientation: portrait) {
    .footer {
        @include flex(flex-start, flex-start, column);
        .left {
            width: auto;
            margin-bottom: 10px;
            .title {
                font-size: $fsLocation-phone
            }
            .line {
                display: none;
            }
        }
        .right {
            width: 210px;
            min-width: 210px;
            a {
                font-size: $fsLinks-phone;
                font-weight: 500;
            }
        }
    }
}
