@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&family=Poppins:wght@300;400;500;600&display=swap');

// Primary Colors
$white: #f6f6f6;
$black: #222222;

// Secondary Colors
$gray: rgb(224, 224, 224);

// Media Query Font Sizes
$fsLogo-desktop: 2.2rem;
$fsLogo-phone: 1.8rem;

$fsLocation-desktop: 1.1rem;
$fsLocation-tablet: 0.9rem;
$fsLocation-phone: 1rem;

$fsLinks-desktop: 1.2rem;
$fsLinks-phone: 1rem;

$fsLandingText-desktop: 2.5rem;
$fsLandingText-tablet: 1.8rem;
$fsLandingText-phone: 1.3rem;



// Flex Mixin
@mixin flex($align, $justify, $direction) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $direction;
}

// Primary Font Mixin
@mixin primary-font($size, $weight) {
    font-family: 'Playfair Display', serif;
    font-size: $size;
    font-weight: $weight;
}

// Secondary Font Mixin
@mixin secondary-font($size, $weight) {
    font-family: 'Poppins', sans-serif;
    font-size: $size;
    font-weight: $weight;
}